/* This div will be the white, rounded square */
.category-icon-wrapper {
  width: 48px;
  height: 48px;
  background-color: white;
  border-radius: 8px;
  
  /* This centers the icon inside the white square */
  display: flex;
  align-items: center;
  justify-content: center;
  
  /* This adds spacing between the icon and text */
  margin-right: 15px; 
}

/* This is the icon image itself */
.category-icon {
  /* width: 24px;
  height: 24px; */
  width: 64px;
    height: 64px;
    border-radius: 10%;
    border: 3px solid white;
  object-fit: contain;
}
.category-hover:hover{
    transform: translateY(-5px);
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.active-category{
    position: absolute;
    right: 16px;
    top: 20%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
}