@import url('https://fonts.googleapis.com/css?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif,!important;
    
}
html, body, #root {
  height: 100%;
}

/* 2. Set the default background for the whole page 
      (This hides any white flicker or gaps) */
body {
  background-color: #2C3335; 
}

/* 3. Turn your React app into a vertical flex column */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}